---
layout: archive
classes: wide
---

{{ content }}

<p align="justify">
    I am a PhD student at the <a href="https://cvg.cit.tum.de">Computer Vision Group</a> at <a href="https://www.tum.de">Technical University of Munich</a> (TUM) under the guidance of Prof. Cremers. This website collects my <a href="publications">research projects</a> in computer vision. Check out more awesome work from our <a href="https://cvg.cit.tum.de/publications">group</a>.
    <br>
</p>

<div class="hr">
    <div class="container">
        <hr>
    </div>
</div>

<h2 class="title is-3">News</h2>
<div class="content">
    {% for news in site.data.news %}
    <b>{{ news.date }}</b> <br> {{ news.description | markdownify | remove: '<p>' | remove: '</p>' }}
    <div class="hr">
        <hr>
    </div>
    {% endfor %}
</div>